name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build on JDK ${{ matrix.java }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [9, 11, 12]
        os: [ubuntu-latest, windows-latest]
        include:
          # TODO(casz) remove once https://github.com/testcontainers/testcontainers-java/pull/1780 is available
        - os: 'ubuntu-latest'
          tasks: 'integrationTest'

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Build with Gradle
        run: ./gradlew build ${{ matrix.tasks }}
